<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 6241</h1>
      <h2>Numerical Methods for Data Science</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Hollister B14<br/>
        Lecture: TR 2:55-4:10<br/>
        Discussion: <a href="https://piazza.com/">Piazza</a><br/>
        Course material: <a href="https://www.github.com/dbindel/cs6241-s18/">GitHub</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a><br/>
        Email: <a href="mailto:bindel@cs.cornell.edu">bindel@cs.cornell.edu</a><br/>
        OH: Weds 1:30-2:30, Th 10-11, or by appt in Gates 425<br/>
        <a href="http://www.meetme.so/DavidBindel">Scheduler link</a>
      </p>
    </div>
    </div>
  </div>
</div>
