---
title: Schedule
layout: main
---

<p>
  This schedule should be considered tentative and subject to change,
  at least until it actually takes place!
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <colgroup>
      <col class="col-xs-1">      
      <col class="col-xs-2">
      <col class="col-xs-9">
    </colgroup>
    <thead>
      <tr>
        <th>Week</th>
        <th>Date</th>        
        <th>Notes, Readings, and HW</th>
      </tr>
    </thead>
    {% for lec in site.data.lectures %}
    <tr{% if lec.break %} class="info"{% endif %}{% if lec.travel %} class="warning"{% endif %}>
      {% assign day = lec.date | date: "%a" %}
      <th>{% if day == "Tue" %}{{ lec.date | date: "%U" | plus: -5 }}{% endif %}</th>
      <td>{{ day }}, {{ lec.date | date: "%b %d" }}</td>      
      {% if lec.break %}
      <td>{{ lec.break }}</td>
      {% else %}
      <td>{% if lec.info %}{% if lec.notes %}<a href="lec/{{ lec.notes }}">{{ lec.info }}</a>{% else %}{{ lec.info }}{% endif %}{% endif %}
      {% endif %}
        {% if lec.hw %}<ul>
          {% for item in lec.hw %}<li>{{ item | markdownify }}</li>{% endfor %}
        </ul>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
